<div class="container-fluid post_movie-contents">
    <div class="row">
        <div class="post_movie-index">
            <% @post_movies.each do |post_movie|  %> 
                    <%= link_to post_movie_path(post_movie.id) do%>
                        <div class="post_movies-index-content">
                            <div class="post_movie-img">
                                <img src="http://img.youtube.com/vi/<%=post_movie.youtube_url%>/mqdefault.jpg" alt="">
                            </div>
                            <ul class="post_movie-lists">
                                <li class="post_movie-list post_movie-list-title"><%= post_movie.title %></li>
                                <li class="post_movie-list post_movie-list-body"><%= post_movie.body %></li>
                            </ul>
                        </div>
                    <% end %>
            <% end %>
        </div>
    </div>
</div>