<div class="container">
  <div class="row justify-content-center">
    <div class="new-practice">

  <div class="content-new-title"><h2>動画を投稿</h2></div>
    
      <%= render "post_movies/create-post-movie", post_movie:@post_movie %>
    
    </div>
  </div>
</div>