<div class="aaa">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post_movie.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
  </div><br>
<%= @post_movie.title %><br>
<%= @post_movie.body%><br>
<%= @post_movie.password %>
