<div class="top-container">
  <div class="top-wrapper">
    <div class="main-visual">
      <div class="main-visual-left">
        <div class="main-visual-logo">
          <%= image_tag 'logo.png', class:"image-logo" %>
        </div>
        <div class="main-visual-title-wrapper">
          <div class="main-visual-title">
            <h1>LoveGuitars..</h1>
          </div>
          <div class="main-visual-subtitle">
            <p>サブタイトル</p>
          </div>
        </div>
      </div>
      <div class="main-visual-right">
        <div class="visual-right-text">
          <p>テキストテキストテキスト<br>テキストテキストテキスト</p>
        </div>
        <div class="visual-right-img">
          <%= image_tag 'main-visual.jpg',class:"visual-img" %>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>今練習しているサイトを管理するアプリです。</h1>
<div class="sign_up">
  <%= link_to "新規登録",new_user_registration_path %>
  <%= link_to "ログイン",new_user_session_path %>
</div>