    <div class="practice-container">
         <div class="practice-menu">
            <div class="user-image">
              <%= link_to "ユーザ", root_path, class:"user-image-content"%>
            </div>
            <div class="practice-content">
              <div class="practice-title">
                <%= practice.title %>
              </div>
              <div class="practice-link">
                <% if practice.reference_url.present? %> <!-- URLが投稿されていた場合 -->
                  <a href="<%= practice.reference_url %>" target="_blank" rel="noopener noreferrer"class="gene-btn">練習する！</a>
                <% else %>
                  リンクが投稿されていません
                <% end %>
              </div>
            </div>
            <div class="practice-show">
              <%= link_to "もっと見る", practice_path(practice), class: "gene-btn" %>
            </div>
         </div>
      </div> 
            



