<div class="genre-search">
  <div class="post-search">
            <input type="text">
  </div>
  <div class="genre-lists">
    <h5>ジャンル</h5>
    <ul class="genre-list">
      <li class="genre-list-item">example-genres</li>
      <li class="genre-list-item">example-genres</li>
      <li class="genre-list-item">example-genres</li>
      <li class="genre-list-item">example-genres</li>
      <li class="genre-list-item">example-genres</li>
      <li class="genre-list-item">example-genres</li>
    </ul>
  </div>
</div>