<h1 class="content-title">みんなの練習記録</h1>
<h2><%= link_to "新しく記録する", new_practice_path %></h2>
  <div class="practice-index">
      <% @practices.each do |practice|  %>  
        <% if practice.is_public == true %>    
              <%= render 'practices/index', practice: practice %>
         <% end %>
      <% end %>
  </div>

