<div class="container-fluid">
    <div class="practice-index-wrapper contents">
  <div class="row-fluid">
        <div class="content-title">
          <h1>練習記録</h1>
         <%= render 'layouts/create_btn' %>
        </div>
      <div class="practice-main-contents col-lg-10">
        <div class="practice-index">
            <% @practices.each do |practice|  %>   
                    <%= render 'practices/index', practice: practice %>
            <% end %>
        </div>
      </div>
      </div>
    </div>
</div>

