/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
.gene-btn{
  text-decoration: none;
}
.gene-btn:hover{
  text-decoration: none;
  opacity:0.5;
}
.header{
  background-color: #fff;
}
.font-color{
  color: #242423;
}
.header-link{
  margin-left: 20px;
}
body{
  background-color: #f7f4ed;
  font-family:'Sawarabi Mincho', "ヒラギノ角ゴ", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.main{
  
  width: 90%;
  height: 100%;
  margin: 0 auto;
}