// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-visual{
  width: 100%;
  min-height: calc(100vh - 73px);
  display: flex;
}
.top-contents-left{
  width: 50%;
}
.main-visual-left{
  padding-top: 3em;
  background-color: #F4DFBB;
}
.top-contents-right{
  width: 50%;
}
.main-visual-right{
  padding-top: 3em;
  background-color: #4c4540;
}
.main-visual-logo{
  text-align: center;
  margin-top: 8%;
}
.image-logo{
  width: 43%;
}
.main-visual-title-wrapper{
  text-align: center;
  margin-top: 20px;
}
.main-visual-title{
  h1{
    font-size: 44px;
  }
}
.main-visual-subtitle{
  margin-top: 15px;
  p{
    font-size: 18px;
    font-weight: 600;
  }
}
.main-visual-right{
  color: #f5f5f5;
  
}
.main-visual-contents{
position: relative;
}
.visual-right-img{
  width: 100%;
 text-align: center;
}
.visual-right-text{
  position: absolute;
  top: 12%;
  right: 6vw;
  font-size: 30px;
  font-weight: bold;
}
.visual-img{
  width: 100%;
}
.visual-sign{
  margin-top: 15px;
  color: #f5f5f5;
  text-align: center;
}

.mainvisual-sign_up-btn {
  background-color: #397B90;
  color: #f5f5f5;
  display: inline-block;
  font-size: 18px;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  &:hover{
    text-decoration: none;
    background-color: #CCCDD0;
  }
}
.mainvisual-sign_up-btn::before,
.mainvisual-sign_up-btn::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.mainvisual-sign_up-btn,
.mainvisual-sign_up-btn::before,
.mainvisual-sign_up-btn::after {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.visual-sign_in{
  font-size: 12px;
  margin-top: 10px;
  p{
    margin-bottom: 0;
  }
  a{
    color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }
}
.top-contents{

}
.top-about{
  color: #f5f5f5;
}
.top-content{
  display: flex;
  margin: 0 auto;
}
.top-about-left{
  background-color: #4c4540;
  padding: 3em;
  padding-right: 0;
}
  .top-contents-title{
    font-weight: bold;
    margin-left: 2.5em;
  }
  .contents-main-title{
    font-size: 36px;
    margin-bottom: 20px;
  }
  .contents-subtitle{
    font-size: 22px;
  }
  .about-message{
    font-weight: bold;
    font-size: 24px;
  }
.top-about-lists{
  margin: 1.5em 0;
  .top-about-list{
    font-weight: bold;
    margin-bottom: 1.5em;
    font-size: 18px;
  }
}
.about-list{
  display: flex;
}

.top-about-right{

  text-align: center;
      .about-example-img{
        width: 40%;
        border: 2px solid #4c4540;
      }
      .about-img{
        width: 30%;
      }
}

.about-image-container{
  margin-bottom: 20px;
}

.top-introduction{
  color: #f5f5f5;
}
.top-introduction-left{
  text-align: center;
}
.introduction-image{
  margin-top: 20px;
}
.introduction-example-img{
  width: 50%;
  border: 2px solid #4c4540;
}
.top-introduction-right{
  background-color: #4c4540;
  padding: 3em;
  padding-right: 0;
}
