// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//profile.html.erb
.profile-wrapper{
  width: 100%;
  background-color: #4C4540;
  position: relative;
  &:before{
    content: "";
    display: block;
    padding-top: 3%;
  }
}
.rotate-container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  @media screen and (max-width:767px){
    width: 80%;
}
}
.card{
  height: auto;
  margin-bottom: 20px;
  
.card-block{
  width: 100%;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 20px;
  position: relative;
}
  text-align: center;
  .card-img-container{
    width:20%;
    margin: 0 auto;
    @media screen and (max-width:767px){
      width: 30%;
      }
    .card-img{
      object-fit:cover;
      border-radius:50%;
    }
  }
  .card-title{
    font-size: 30px;
    @media screen and (max-width:767px){
      font-size: 26px;
      
    }
  }
}

.profile-infos-container{
  width: 100%;
  height: 80px;
  background-color: #CCCDD0;
}
.profile-infos-index{
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.profile-info{
  width: 20%;
  margin: 0 10px;
  margin-top: 10px;
  
  text-align: center;
  h5, p{
    font-weight: bold;
    color: #333;
    letter-spacing: 0.05em;
  }
}

#card-back{
  padding: 0 20px;
}
.user-option-btn{
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 26px;
  a{
    color: #989898;
  }
}
.social-links{
    li{
      a{
        .fa-youtube-square{
          font-size: 26px;
          color: red;
        }
      }
    }
  }
.practice-main-contents{
  margin: 0 auto;
}